[submodule "quickstart/wowchemy-hugo-themes"]
	path = quickstart/wowchemy-hugo-themes
	url = https://github.com/wowchemy/wowchemy-hugo-themes.git
[submodule "themes/wowchemy-hugo-themes"]
	path = themes/wowchemy-hugo-themes
	url = https://github.com/wowchemy/wowchemy-hugo-themes.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "wowchemy-hugo-themes"]
	path = wowchemy-hugo-themes
	url = https://github.com/wowchemy/wowchemy-hugo-themes.git
